.linkItem {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.linkItemRedesigned {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.linkItemRedesignedCollapsed {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px;
}

.linkWrapper {
  width: 100%;
}

.active {
  background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  border-left: 2px solid var(--accent-redesigned);
}
