.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e0e0ea;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0932a4;
  --inverted-secondary-color: #0553f5;
  --skeleton-shadow: #2b2be8;
  --skeleton-color: #1515ad;
  --code-bg: #1212a1;
  --card-bg: #0d0d6b;
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;
}
