.app.light {
  --bg-color: #e0e0ea;
  --inverted-bg-color: #060665;

  --primary-color: #0932a4;
  --secondary-color: #1b61f1;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}