.header {
  display: flex;
  margin-bottom: 20px;
}

.editButtonWrapper {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.editButton {
  margin-left: auto;
}

.buttonWrapper {
  margin-left: auto;
}
