.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
}

.editButton {
  margin-left: auto;
}

.profileInfo {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
